.btn {
    margin: 24px 0 0 1189px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background: var(--Purple, #5F00D9);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}