.contactUsContainer {
    background: var(--Black-Shades-Black-05, #F3F3F7);
    width: 100%;
}
.suportHeader {
    width: 1184px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 756px;
    background-color: white;
}
.suportHeader h1 {
    margin-left: 114px;
}
.suportHeader img{
    position: absolute;
    right: 123px;
}